* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  letter-spacing: 1.4px;
}

.container {
  min-width: 320px;
}

.foto {
  margin: auto;
  background-color: green;
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
  border: 4px solid #222222;
  /* overflow: hidden; */
}

.foto img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.header {
  margin-bottom: 20px;
}

.titulo {
  color: #222222;
  font-size: 2.25em;
  margin-bottom: 10px;
}

.subtitulo {
  color: #4f4f4f;
  font-size: 1em;
}

.lista li {
  list-style: none;
  margin-bottom: 10px;
}

.lista a {
  background-color: #f3f3f3;
  color: #007bfc;
  display: block;
  padding: 10px 0;
  text-decoration: none;
  border-radius: 4px;
  margin: 0px 10px;
}

.lista a:hover {
  background-color: #cfcfcf;
}

.copy {
  color: #007bfc;
  font-weight: bold;
  margin-top: 30px;
}
